@use "./vars";

@mixin link($font-size) {
    color: $text-color;
    font-size: $font-size;
    &:focus, &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

@mixin container() {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    @include media-breakpoint-up(md) {
        max-width: map-get($container-max-widths, md);
    }
    @include media-breakpoint-up(lg) {
        max-width: map-get($container-max-widths, lg);
    }
    @include media-breakpoint-up(xl) {
        max-width: map-get($container-max-widths, xl);
    }
}