$main-color: #00A4BA;
$text-color: #FFF;
$secondary-color: #FF4D77;
$content-color: #FFF;
$font-family: 'Roboto', sans-serif;
$font-size: 24px;
$header-height: 65px;
$footer-height: 75px;
$footer-padding: 15px;
$btn-border-radius: 0;