.btn {

    &:hover {
        color: $text-color;
        opacity: 0.9;
    }

    &--find-friend {
        position: relative;
        color: $text-color;
        background-color: $main-color;
        
        &:before {
            content: ' ';
            position: absolute;
            display: inline-block;
            width: 24px;
            height: 24px;
            background-image: url('../images/icon-search.svg')
        }

        .btn-text {
            padding-left: 34px;
        }
    }

    &--action {
        border-radius: 2em;
        color: $text-color;
        background-color: $secondary-color;
    }
}