@use "../vars";
@use "../templates";

.footer {
    background-color: $main-color;
    color: $text-color;
    padding: 15px 0;

    @include media-breakpoint-up(md) {
        .nav {
            height: $footer-height;
        }
    }
}
