@use "../vars";
@use "../templates";

.footer {
    background-color: $main-color;
    color: $text-color;
    padding: $footer-padding 0;

    .nav {
        padding-bottom: 15px;
    }

    @include media-breakpoint-up(md) {
        min-height: $footer-height;
    }
}
