.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    @include media-breakpoint-up(md) {
        flex-direction: row;
    }

    &-link {
        @include link($font-size);
    }
}